// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-black:                     #0e0e0e;
$color-white:                     #f2f2f2;
$color-blue:                      #005FF9;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
//---------------------------------

$font-family--default:                     'Mail Sans Roman', "Arial", sans-serif;

$transition-timing-function--default: cubic-bezier(0.12, 0, 0.39, 0);

// Viewports
//---------------------------------

$startWidth: 1920;
$midWidth: 768;
$endWidth: 375;